body{
    background-color: #232323;
}
            .kol-1{grid-column:span 1;}
            .kol-2{grid-column:span 2;}
            .kol-3{grid-column:span 3;}
            .kol-4{grid-column:span 4;}
            .kol-5{grid-column:span 5;}
            .kol-6{grid-column:span 6;
            background-color: #333333;
            animation-name: fadeIn;
            animation-duration: 2.5s;
            box-shadow: 3px 3px 2px;}
            .kol-7{grid-column:span 7;}
            .kol-8{grid-column:span 8;}
            .kol-9{grid-column:span 9;}
            .kol-10{grid-column:span 10;}
            .kol-11{grid-column:span 11;}
            .kol-12{grid-column:span 12;}
            main{
                max-width: 1200px;
                display: grid;
                margin: auto;
                grid-template-columns: repeat(12,1fr);
                grid-gap: 25px;
                margin-top: 15px;
            }
header{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: #232323;
    transition: 0.4s;
    font-family: Arial, sans-serif;
    font-size: 20px
    
    
}
a:hover{
    color: lightgreen;
}
#menyklikk{
    display: block;
    position: relative;
    top: 30px;
    left: 30px;
    z-index: 1;
}
#menyklikk>input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    filter: opacity(0);
    z-index: 2;
}
#menyklikk>.burgermeny{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background-color: lightgreen;
    border-radius: 3px;
    
    z-index: 1;
    transition: 1s ease-in-out;
}
#menyklikk input:checked~.burgermeny{
    background-color: #232323;
}
#meny{
    position: absolute;
    width: 130px;
    box-shadow: 5px 5px 3px;
    margin: -120px 0 0 -70px;
    padding: 50px;
    padding-top: 125px;
    background-color: whitesmoke;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: 0.5s;
}
meny>li{
    padding: 10px;
    font-size: 22px;
}
li{
    list-style: none; 
    margin: 20px;
}
#menyklikk input:checked~ul{
    transform: none;
}
@font-face{
    font-family: neuropolx;
    src: url("Fonts/neuropolx.ttf");
}
h1{
    font-family: neuropolx;
    color: #ededed;
    font-size: 30px;
    margin: 30px;
    text-shadow: 2px 2px 2px black;
    animation-name: fadeIn;
    animation-duration: 2s;
    
    
}
@keyframes fadeIn{
    from{
        transform: translateX(800px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
p{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ededed;
    padding: 45px;
    
    
}
input{
    background-color: #ededed;
    margin-right: 20px;
    box-shadow: 4px 4px 2px;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.problem{
    width: 600px;
    height: 75px;
    margin-top: 30px;
    size: 40; 
}
.status{
    width: 200px;
    margin-top: 30px;
}
button{
    box-shadow: 4px 4px 2px;
    animation: fadeIn 1.5s;
}
audio{
    margin-left: 45px;
}